# PII Redaction Modules Requirements
# ===================================

# Core Dependencies
#Recommended python version 3.12.3 .
#pip version 24.3.1

# Face Detection model
facenet-pytorch #This will install gpu support if cuda is avaible else cpu version will be installed.
# OCR Dependencies  
easyocr
opencv-python

# NLP and PII Detection
presidio-analyzer[transformers]
#You have to first install spacy then spacy-transformers as spacy-transformers is a plugin fo spacy 
spacy
spacy-transformers
#Later when you run the PIIshield project en_core_web_trf will be automatically downloaded by pip .

pdf2image # For converting PDF pages to images top re-routing non-standard PDFs to OCR processes . 

# Standardized pdf Processing packages
PyMuPDF
fitz

# Data Processing
pandas

# Text Processing
unidecode

# Optional: For better performance
accelerate

numpy<2.0.0,>=1.24.0 #To mitigate dependencies issues with facenet-pytorch


